In [1]:
import pandas as pd
import numpy as np 
from sklearn import feature_extraction, linear_model, model_selection, preprocessing
import nltk
from nltk.corpus import stopwords
import re
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer

In [2]:
train = pd.read_csv('train.csv', encoding = "utf-8")

In [3]:
train

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1
...,...,...,...,...,...
7608,10869,NaN,NaN,Two giant cranes holding a bridge collapse int...,1
7609,10870,NaN,NaN,@aria_ahrary @TheTawniest The out of control w...,1
7610,10871,NaN,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1
7611,10872,NaN,NaN,Police investigating after an e-bike collided ...,1
7612,10873,NaN,NaN,The Latest: More Homes Razed by Northern Calif...,1

Cleaning to be done: 
-@ + following (until the space) 

-Check avec un dictionnaire ? 

-Retirer les nombres (heure) -> Entity extraction

-Drop colum keyword and location

In [4]:
stop_words = set(stopwords.words('english'))

In [8]:
train["text"]=train["text"].str.lower()

In [9]:
train.head(20)

,id,keyword,location,text,target
0,1,NaN,NaN,our deeds are the reason of this #earthquake m...,1
1,4,NaN,NaN,forest fire near la ronge sask. canada,1
2,5,NaN,NaN,all residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,just got sent this photo from ruby #alaska as ...,1
5,8,NaN,NaN,#rockyfire update => california hwy. 20 closed...,1
6,10,NaN,NaN,#flood #disaster heavy rain causes flash flood...,1
7,13,NaN,NaN,i'm on top of the hill and i can see a fire in...,1
8,14,NaN,NaN,there's an emergency evacuation happening now ...,1
9,15,NaN,NaN,i'm afraid that the tornado is coming to our a...,1
10,16,NaN,NaN,three people died from the heat wave so far,1
11,17,NaN,NaN,haha south tampa is getting flooded hah- wait ...,1
12,18,NaN,NaN,#raining #flooding #florida #tampabay #tampa 1...,1
13,19,NaN,NaN,#flood in bago myanmar #we arrived bago,1
14,20,NaN,NaN,damage to school bus on 80 in multi car crash ...,1
15,23,NaN,NaN,what's up man?,0
16,24,NaN,NaN,i love fruits,0
17,25,NaN,NaN,summer is lovely,0
18,26,NaN,NaN,my car is so fast,0
19,28,NaN,NaN,what a goooooooaaaaaal!!!!!!,0

In [5]:
def data_text_preprocess(total_text):
    # Remove int values from text data as that might not be imp
    
    if type(total_text) is not int:
        
        total_text = re.sub('http\S+',' ', str(total_text))
        total_test = re.sub('https\S+',' ', str(total_text))
        total_text = re.sub('\@\S+',' ', str(total_text))
        total_text = re.sub('\#',' ', str(total_text))
        total_text = re.sub('[^a-zA-Z\'\n]', ' ', str(total_text))
        total_text = re.sub('[^a-zA-Z\'\n]', ' ', str(total_text))
        return total_text

In [6]:
train['text'] = train['text'].map(data_text_preprocess)
train

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,people receive wildfires evacuation or...,1
4,7,NaN,NaN,Just got sent this photo from Ruby Alaska as ...,1
...,...,...,...,...,...
7608,10869,NaN,NaN,Two giant cranes holding a bridge collapse int...,1
7609,10870,NaN,NaN,The out of control wild fires in Californi...,1
7610,10871,NaN,NaN,M UTC km S of Volcano Hawaii,1
7611,10872,NaN,NaN,Police investigating after an e bike collided ...,1
7612,10873,NaN,NaN,The Latest More Homes Razed by Northern Calif...,1

In [7]:
train.head(20)

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,people receive wildfires evacuation or...,1
4,7,NaN,NaN,Just got sent this photo from Ruby Alaska as ...,1
5,8,NaN,NaN,RockyFire Update California Hwy closed...,1
6,10,NaN,NaN,flood disaster Heavy rain causes flash flood...,1
7,13,NaN,NaN,I'm on top of the hill and I can see a fire in...,1
8,14,NaN,NaN,There's an emergency evacuation happening now ...,1
9,15,NaN,NaN,I'm afraid that the tornado is coming to our a...,1
10,16,NaN,NaN,Three people died from the heat wave so far,1
11,17,NaN,NaN,Haha South Tampa is getting flooded hah WAIT ...,1
12,18,NaN,NaN,raining flooding Florida TampaBay Tampa ...,1
13,19,NaN,NaN,Flood in Bago Myanmar We arrived Bago,1
14,20,NaN,NaN,Damage to school bus on in multi car crash ...,1
15,23,NaN,NaN,What's up man,0
16,24,NaN,NaN,I love fruits,0
17,25,NaN,NaN,Summer is lovely,0
18,26,NaN,NaN,My car is so fast,0
19,28,NaN,NaN,What a goooooooaaaaaal,0

In [8]:
def tokenization(total_text):
    total_text = word_tokenize(total_text)
    return total_text

In [9]:
train['text'] = train['text'].map(tokenization)
train

,id,keyword,location,text,target
0,1,NaN,NaN,"[Our, Deeds, are, the, Reason, of, this, earth...",1
1,4,NaN,NaN,"[Forest, fire, near, La, Ronge, Sask, Canada]",1
2,5,NaN,NaN,"[All, residents, asked, to, 'shelter, in, plac...",1
3,6,NaN,NaN,"[people, receive, wildfires, evacuation, order...",1
4,7,NaN,NaN,"[Just, got, sent, this, photo, from, Ruby, Ala...",1
...,...,...,...,...,...
7608,10869,NaN,NaN,"[Two, giant, cranes, holding, a, bridge, colla...",1
7609,10870,NaN,NaN,"[The, out, of, control, wild, fires, in, Calif...",1
7610,10871,NaN,NaN,"[M, UTC, km, S, of, Volcano, Hawaii]",1
7611,10872,NaN,NaN,"[Police, investigating, after, an, e, bike, co...",1
7612,10873,NaN,NaN,"[The, Latest, More, Homes, Razed, by, Northern...",1

In [13]:
lemmatizer = WordNetLemmatizer() 

def lemmatization(total_text):
    new_text = []
    for word in total_text:
        word = lemmatizer.lemmatize(word)
        new_text.append(word)
    return new_text

In [14]:
train['text'] = train['text'].map(lemmatization)
train

,id,keyword,location,text,target
0,1,NaN,NaN,"[Our, Deeds, are, the, Reason, of, this, earth...",1
1,4,NaN,NaN,"[Forest, fire, near, La, Ronge, Sask, Canada]",1
2,5,NaN,NaN,"[All, resident, asked, to, 'shelter, in, place...",1
3,6,NaN,NaN,"[people, receive, wildfire, evacuation, order,...",1
4,7,NaN,NaN,"[Just, got, sent, this, photo, from, Ruby, Ala...",1
...,...,...,...,...,...
7608,10869,NaN,NaN,"[Two, giant, crane, holding, a, bridge, collap...",1
7609,10870,NaN,NaN,"[The, out, of, control, wild, fire, in, Califo...",1
7610,10871,NaN,NaN,"[M, UTC, km, S, of, Volcano, Hawaii]",1
7611,10872,NaN,NaN,"[Police, investigating, after, an, e, bike, co...",1
7612,10873,NaN,NaN,"[The, Latest, More, Homes, Razed, by, Northern...",1

In [10]:
train.head(20)

,id,keyword,location,text,target
0,1,NaN,NaN,"[Our, Deeds, are, the, Reason, of, this, earth...",1
1,4,NaN,NaN,"[Forest, fire, near, La, Ronge, Sask, Canada]",1
2,5,NaN,NaN,"[All, residents, asked, to, 'shelter, in, plac...",1
3,6,NaN,NaN,"[people, receive, wildfires, evacuation, order...",1
4,7,NaN,NaN,"[Just, got, sent, this, photo, from, Ruby, Ala...",1
5,8,NaN,NaN,"[RockyFire, Update, California, Hwy, closed, i...",1
6,10,NaN,NaN,"[flood, disaster, Heavy, rain, causes, flash, ...",1
7,13,NaN,NaN,"[I, 'm, on, top, of, the, hill, and, I, can, s...",1
8,14,NaN,NaN,"[There, 's, an, emergency, evacuation, happeni...",1
9,15,NaN,NaN,"[I, 'm, afraid, that, the, tornado, is, coming...",1
10,16,NaN,NaN,"[Three, people, died, from, the, heat, wave, s...",1
11,17,NaN,NaN,"[Haha, South, Tampa, is, getting, flooded, hah...",1
12,18,NaN,NaN,"[raining, flooding, Florida, TampaBay, Tampa, ...",1
13,19,NaN,NaN,"[Flood, in, Bago, Myanmar, We, arrived, Bago]",1
14,20,NaN,NaN,"[Damage, to, school, bus, on, in, multi, car, ...",1
15,23,NaN,NaN,"[What, 's, up, man]",0
16,24,NaN,NaN,"[I, love, fruits]",0
17,25,NaN,NaN,"[Summer, is, lovely]",0
18,26,NaN,NaN,"[My, car, is, so, fast]",0
19,28,NaN,NaN,"[What, a, goooooooaaaaaal]",0

In [ ]:
def data_text_preprocess(total_text, ind, col):
    # Remove int values from text data as that might not be imp
    if type(total_text) is not int:
        string = ""
        
        # replacing all special char with space
        total_text = re.sub('[^a-zA-Z0-9\n]', ' ', str(total_text))
        # replacing multiple spaces with single space
        total_text = re.sub('\s+',' ', str(total_text))
        
        # bring whole text to same lower-case scale.
        total_text = total_text.lower()
        
        
        for word in total_text.split():
        # if the word is a not a stop word then retain that word from text
            if not word in stop_words:
                string += word + " "
        
        train[col][ind] = string

In [17]:
for index, row in train.iterrows():
    if type(row['text']) is str:
        data_text_preprocess(row['text'], index, 'text')

C:\Users\const\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()

In [18]:
train.head(20)

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds Reason earthquake May ALLAH Forgive us,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked 'shelter place' notified o...,1
3,6,NaN,NaN,"13,000 people receive wildfires evacuation ord...",1
4,7,NaN,NaN,Just got sent photo Ruby Alaska smoke wildfire...,1
5,8,NaN,NaN,RockyFire Update => California Hwy. 20 closed ...,1
6,10,NaN,NaN,flood disaster Heavy rain causes flash floodin...,1
7,13,NaN,NaN,I'm top hill I see fire woods...,1
8,14,NaN,NaN,There's emergency evacuation happening buildin...,1
9,15,NaN,NaN,I'm afraid tornado coming area...,1
10,16,NaN,NaN,Three people died heat wave far,1
11,17,NaN,NaN,Haha South Tampa getting flooded hah- WAIT A S...,1
12,18,NaN,NaN,raining flooding Florida TampaBay Tampa 18 19 ...,1
13,19,NaN,NaN,Flood Bago Myanmar We arrived Bago,1
14,20,NaN,NaN,Damage school bus 80 multi car crash BREAKING,1
15,23,NaN,NaN,What's man?,0
16,24,NaN,NaN,I love fruits,0
17,25,NaN,NaN,Summer lovely,0
18,26,NaN,NaN,My car fast,0
19,28,NaN,NaN,What goooooooaaaaaal!!!!!!,0