In this notebook we are going to make the models vote for the correct target! To do so we are going to train a logistic regression on traindata using the predictions of the different models as independent variables and the column "target" as dependent variables.

In [8]:
import pandas as pd
from sklearn.linear_model import LogisticRegression

In [9]:
traindata = pd.read_csv("VOTE_train.csv") 
submitdata = pd.read_csv("VOTE_submit.csv")

In [10]:
traindata['predicted_target']=str('0')
traindata

,id,keyword,location,text,target,KNN_prediction,LR_prediction,RF_prediction,SVC_prediction,NB_prediction,predicted_target
0,1,Other,NaN,"['deed', 'reason', 'earthquake', 'may', 'allah...",1,0,1,1,1,1,0
1,4,Other,NaN,"['forest', 'fire', 'near', 'la', 'ronge', 'sas...",1,1,1,1,1,1,0
2,5,Other,NaN,"['resident', 'ask', 'shelter', 'place', 'notif...",1,0,1,1,1,1,0
3,6,Other,NaN,"['people', 'receive', 'wildfire', 'evacuation'...",1,0,1,1,1,1,0
4,7,Other,NaN,"['get', 'sent', 'photo', 'ruby', 'alaska', 'sm...",1,0,1,1,1,1,0
5,8,Other,NaN,"['rockyfire', 'update', 'california', 'hwy', '...",1,0,1,1,1,1,0
6,10,Other,NaN,"['flood', 'disaster', 'heavy', 'rain', 'cause'...",1,1,1,1,1,1,0
7,13,Other,NaN,"['top', 'hill', 'see', 'fire', 'wood']",1,0,1,1,1,1,0
8,14,Other,NaN,"['emergency', 'evacuation', 'happen', 'buildin...",1,0,1,1,1,1,0
9,15,Other,NaN,"['afraid', 'tornado', 'come', 'area']",1,0,1,1,1,1,0
10,16,Other,NaN,"['three', 'people', 'die', 'heat', 'wave', 'far']",1,0,1,1,1,1,0
11,17,Other,NaN,"['haha', 'south', 'tampa', 'get', 'flood', 'ha...",1,1,1,1,1,1,0
12,18,Other,NaN,"['rain', 'flood', 'florida', 'tampabay', 'tamp...",1,1,1,1,1,1,0
13,19,Other,NaN,"['flood', 'bago', 'myanmar', 'arrive', 'bago']",1,1,1,1,1,1,0
14,20,Other,NaN,"['damage', 'school', 'bus', 'multi', 'car', 'c...",1,1,1,1,1,1,0
15,23,Other,NaN,['man'],0,0,0,0,0,0,0
16,24,Other,NaN,"['love', 'fruit']",0,0,0,0,0,0,0
17,25,Other,NaN,"['summer', 'lovely']",0,0,0,0,0,0,0
18,26,Other,NaN,"['car', 'fast']",0,0,0,0,0,0,0
19,28,Other,NaN,['goooooooaaaaaal'],0,0,0,0,0,0,0
20,31,Other,NaN,['ridiculous'],0,0,0,0,0,0,0
21,32,Other,NaN,"['london', 'cool']",0,0,0,0,0,0,0
22,33,Other,NaN,"['love', 'skiing']",0,0,0,0,0,0,0
23,34,Other,NaN,"['wonderful', 'day']",0,0,0,0,0,0,0
24,36,Other,NaN,['looooool'],0,0,0,0,0,0,0
25,37,Other,NaN,"['way', 'eat', 'shit']",0,0,0,0,0,0,0
26,38,Other,NaN,"['nyc', 'last', 'week']",0,0,0,0,0,0,0
27,39,Other,NaN,"['love', 'girlfriend']",0,0,0,0,0,0,0
28,40,Other,NaN,['cooool'],0,0,0,0,0,0,0
29,41,Other,NaN,"['like', 'pasta']",0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
6645,10819,wrecked,"Livingston, MT","['beyond', 'adorable', 'hope', 'wreck', 'notice']",0,0,0,0,0,0,0
6646,10821,wrecked,California,"['cramer', 'iger', 'word', 'wreck', 'disney', ...",0,0,0,0,0,0,0
6647,10822,wrecked,Glasgow,"['see', 'night', 'wee', 'barra', 'get', 'absol...",0,0,0,0,0,0,0
6648,10823,wrecked,"Manhattan, NY","['get', 'wreck']",1,0,0,1,0,0,0
6649,10824,wrecked,"Denton, Texas","['awesome', 'time', 'gettin', 'wreck', 'bowlin...",0,0,0,0,0,0,0
6650,10825,wrecked,Global,"['cramer', 'word', 'wreck', 'dis', 'stock']",0,0,0,0,0,0,0
6651,10826,wrecked,TN,"['bright', 'side', 'wreck']",0,0,0,0,0,0,0
6652,10829,wrecked,#NewcastleuponTyne #UK,"['go', 'relax', 'thought', 'wife', 'wreck', 'c...",0,0,0,0,0,0,0
6653,10831,wrecked,"Vancouver, Canada","['three', 'day', 'work', 'pretty', 'much', 'wr...",0,0,0,0,0,0,0
6654,10832,wrecked,London,"['fx', 'forex', 'trading', 'cramer', 'iger', '...",0,0,0,0,0,0,0
6655,10833,wrecked,Lincoln,"['great', 'atmosphere', 'british', 'lion', 'gi...",0,0,0,0,0,0,0
6656,10837,Other,NaN,"['box', 'ready', 'explode', 'explode', 'kitten...",0,0,0,0,0,0,0
6657,10839,Other,NaN,"['calgary', 'police', 'flood', 'road', 'closur...",1,1,1,1,1,1,0
6658,10840,Other,NaN,"['sismo', 'detectado', 'jap', 'seismic', 'inte...",1,1,1,1,1,1,0
6659,10841,Other,NaN,"['siren', 'everywhere']",0,0,0,0,0,0,0
6660,10842,Other,NaN,"['break', 'isi', 'claim', 'responsibility', 'm...",1,1,1,1,1,1,0
6661,10843,Other,NaN,"['omg', 'earthquake']",1,0,1,1,1,1,0
6662,10846,Other,NaN,"['heat', 'wave', 'warn', 'aa', 'ayyo', 'dei', ...",1,0,1,1,1,1,0
6663,10847,Other,NaN,"['group', 'suicide', 'bomber', 'detonate', 'ex...",1,1,1,1,1,1,0
6664,10848,Other,NaN,"['heard', 'really', 'loud', 'bang', 'everyone'...",0,0,0,0,0,0,0
6665,10849,Other,NaN,"['gas', 'thing', 'explode', 'heard', 'scream',...",1,0,1,1,1,1,0
6666,10850,Other,NaN,"['nw', 'flash', 'flood', 'warn', 'continued', ...",1,1,1,1,1,1,0
6667,10851,Other,NaN,"['rt', 'nw', 'issue', 'severe', 'thunderstorm'...",1,1,1,1,1,1,0
6668,10853,Other,NaN,"['father', 'three', 'lose', 'control', 'car', ...",1,0,1,1,1,1,0
6669,10854,Other,NaN,"['earthquake', 'km', 'ssw', 'anza', 'californi...",1,1,1,1,1,1,0
6670,10859,Other,NaN,"['break', 'la', 'refugio', 'oil', 'spill', 'ma...",1,1,1,1,1,1,0
6671,10860,Other,NaN,"['siren', 'go', 'forney', 'tornado', 'warn']",1,0,1,1,1,1,0
6672,10862,Other,NaN,"['official', 'say', 'quarantine', 'place', 'al...",1,1,1,1,1,1,0
6673,10864,Other,NaN,"['flip', 'side', 'walmart', 'bomb', 'everyone'...",1,0,1,1,1,1,0
6674,10866,Other,NaN,"['suicide', 'bomber', 'kill', 'saudi', 'securi...",1,1,1,1,1,1,0

In [11]:
submitdata

,id,keyword,location,text,target,KNN_prediction,LR_prediction,RF_prediction,SVC_prediction,NB_prediction
0,0,Other,NaN,"['happen', 'terrible', 'car', 'crash']",0,0,1,1,1,1
1,2,Other,NaN,"['heard', 'earthquake', 'different', 'city', '...",0,0,1,1,1,1
2,3,Other,NaN,"['forest', 'fire', 'spot', 'pond', 'geese', 'f...",0,1,1,1,1,1
3,9,Other,NaN,"['apocalypse', 'light', 'spokane', 'wildfire']",0,0,1,1,1,1
4,11,Other,NaN,"['typhoon', 'soudelor', 'kill', 'china', 'taiw...",0,0,1,1,1,1
5,12,Other,NaN,"['shake', 'earthquake']",0,0,1,1,1,1
6,21,Other,NaN,"['would', 'probably', 'still', 'show', 'life',...",0,0,0,0,0,0
7,22,Other,NaN,['hey'],0,0,0,0,0,0
8,27,Other,NaN,"['nice', 'hat']",0,0,0,0,0,0
9,29,Other,NaN,['fuck'],0,0,0,0,0,0
10,30,Other,NaN,"['like', 'cold']",0,0,0,0,0,0
11,35,Other,NaN,['nooooooooo'],0,0,0,0,0,0
12,42,Other,NaN,['tell'],0,0,0,0,0,0
13,43,Other,NaN,[],0,0,0,0,0,0
14,45,Other,NaN,['awesome'],0,0,0,0,0,0
15,46,ablaze,London,"['birmingham', 'wholesale', 'market', 'ablaze'...",0,1,1,1,1,1
16,47,ablaze,Niall's place | SAF 12 SQUAD |,"['wear', 'short', 'race', 'ablaze']",0,0,0,0,0,0
17,51,ablaze,NIGERIA,"['previouslyondoyintv', 'toke', 'makinwa', 'ma...",0,0,1,0,1,1
18,58,ablaze,Live On Webcam,"['check', 'nsfw']",0,0,0,0,0,0
19,60,ablaze,"Los Angeles, Califnordia","['psa', 'splitting', 'personality', 'techie', ...",0,0,0,0,0,0
20,69,ablaze,threeonefive.,"['beware', 'world', 'ablaze', 'sierra', 'leone...",0,0,0,0,0,0
21,70,ablaze,Washington State,"['burning', 'man', 'ablaze', 'turban', 'diva',...",0,0,0,0,0,0
22,72,ablaze,"Whoop Ass, Georgia","['dis', 'song', 'people', 'take', 'thing', 'ru...",0,0,0,0,0,0
23,75,ablaze,India,"['rape', 'victim', 'dy', 'set', 'ablaze', 'yea...",0,0,1,1,1,1
24,84,ablaze,NaN,"['set', 'ablaze']",0,0,0,0,0,1
25,87,ablaze,"scarborough, ontario","['bin', 'front', 'field', 'house', 'wer', 'set...",0,0,1,0,1,1
26,88,ablaze,NaN,"['nowplaying', 'alfons', 'ablaze', 'pul', 'rad...",0,0,0,0,0,0
27,90,ablaze,"121 N La Salle St, Suite 500","['burning', 'rahm', 'let', 'hope', 'city', 'ha...",0,0,0,0,0,0
28,94,ablaze,Wandering,"['hurt', 'eye', 'ablaze', 'insult', 'anger']",0,0,0,0,0,0
29,99,accident,"Homewood, PA","['accident', 'clear', 'paturnpike', 'patp', 'e...",0,0,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...
3233,10756,wreckage,Mumbai,"['wreckage', 'conclusively', 'confirm', 'mh', ...",0,1,1,1,1,1
3234,10757,wreckage,NaN,"['science', 'piece', 'wreckage', 'flight', 'mh...",0,0,1,1,1,1
3235,10758,wreckage,India,"['wreckage', 'conclusively', 'confirm', 'mh', ...",0,1,1,1,1,1
3236,10761,wreckage,Mumbai,"['wreckage', 'conclusively', 'confirm', 'mh', ...",0,1,1,1,1,1
3237,10762,wreckage,Canada,"['top', 'story', 'wreckage', 'mh', 'officially...",0,0,1,1,1,1
3238,10773,wreckage,NaN,"['wreckage', 'conclusively', 'confirm', 'mh', ...",0,1,1,1,1,1
3239,10778,wreckage,Mumbai,"['wreckage', 'conclusively', 'confirm', 'mh', ...",0,1,1,1,1,1
3240,10781,wreckage,our galaxy,"['rt', 'debris', 'found', 'indian', 'ocean', '...",0,0,1,1,1,1
3241,10791,wrecked,Sunny Southern California,"['cramer', 'iger', 'word', 'wreck', 'disney', ...",0,0,0,0,0,0
3242,10792,wrecked,"Plymouth, England","['almost', 'wreck', 'van', 'day', 'guy', 'yeah...",0,0,0,0,0,0
3243,10796,wrecked,Deep in the heart of LibLand,"['manner', 'human', 'would', 'parcel', 'baby',...",0,0,0,0,0,0
3244,10797,wrecked,NaN,"['thought', 'say', 'saturday', 'night', 'near'...",0,0,0,1,0,0
3245,10801,wrecked,"Canada,Ontario","['wan', 'na', 'ease', 'mind', 'make', 'feel', ...",0,0,0,0,0,0
3246,10804,wrecked,Love Reiss,"['think', 'deactivate', 'notification', 'aid',...",0,0,0,0,0,0
3247,10806,wrecked,Seattle Washington,"['rt', 'cnbc', 'word', 'disney', 'ceo', 'bob',...",0,0,0,0,0,0
3248,10807,wrecked,Acey mountain islanddåÇTorontoåÈ,"['smackdown', 'tyme', 'put', 'good', 'mood', '...",0,0,0,0,0,0
3249,10816,wrecked,los angeles,"['jsyk', 'stop', 'think', 'abt', 'remus', 'slu...",0,0,0,0,0,0
3250,10820,wrecked,"Brussels, Belgium","['begovic', 'garbage', 'get', 'wreck', 'red', ...",0,0,0,1,0,0
3251,10828,wrecked,NaN,"['wreck', 'today', 'get', 'hattrick']",0,0,0,0,0,0
3252,10836,Other,NaN,"['ebola', 'ebolaoutbreak', 'ebola', 'virus', '...",0,0,1,1,1,1
3253,10838,Other,NaN,"['malaysian', 'pm', 'confirms', 'debris', 'mis...",0,0,1,1,1,1
3254,10845,Other,NaN,"['official', 'alabama', 'home', 'quarantine', ...",0,1,1,1,1,1
3255,10856,Other,NaN,"['see', 'yr', 'old', 'pkk', 'suicide', 'bomber...",0,1,1,1,1,1
3256,10857,Other,NaN,"['conference', 'attendee', 'blue', 'line', 'ai...",0,0,0,0,0,0
3257,10858,Other,NaN,"['death', 'toll', 'suicide', 'car', 'bombing',...",0,0,1,1,1,1
3258,10861,Other,NaN,"['earthquake', 'safety', 'los', 'angeles', 'sa...",0,0,1,1,1,1
3259,10865,Other,NaN,"['storm', 'ri', 'bad', 'last', 'hurricane', 'c...",0,1,1,1,1,1
3260,10868,Other,NaN,"['green', 'line', 'derailment', 'chicago']",0,0,1,1,1,1
3261,10874,Other,NaN,"['meg', 'issue', 'hazardous', 'weather', 'outl...",0,1,1,1,1,1
3262,10875,Other,NaN,"['cityofcalgary', 'activate', 'municipal', 'em...",0,0,1,0,0,1

In [12]:
# define X_train and y_train
X_train = traindata[['KNN_prediction','NB_prediction', 'SVC_prediction', 'RF_prediction', 'LR_prediction']]
y_train = traindata['target']


X_submit=submitdata[['KNN_prediction','NB_prediction', 'SVC_prediction', 'RF_prediction', 'LR_prediction']]

In [13]:
# train logistic regression on the models' predictions
lr = LogisticRegression()
lr.fit(X_train, y_train)
traindata[['predicted_target']]=lr.predict(X_train)

# now let's vote!
submitdata[['target']]=lr.predict(X_submit)

//anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [14]:
# display misclassified tweets

pd.set_option('display.max_colwidth', -1)

incorrectly_classified = traindata[traindata['predicted_target']!=traindata['target']]
incorrectly_classified

Empty DataFrame
Columns: [id, keyword, location, text, target, KNN_prediction, LR_prediction, RF_prediction, SVC_prediction, NB_prediction, predicted_target]
Index: []

In [15]:
submitdata.head()

,id,keyword,location,text,target,KNN_prediction,LR_prediction,RF_prediction,SVC_prediction,NB_prediction
0,0,Other,NaN,"['happen', 'terrible', 'car', 'crash']",1,0,1,1,1,1
1,2,Other,NaN,"['heard', 'earthquake', 'different', 'city', 'stay', 'safe', 'everyone']",1,0,1,1,1,1
2,3,Other,NaN,"['forest', 'fire', 'spot', 'pond', 'geese', 'flee', 'across', 'street', 'save']",1,1,1,1,1,1
3,9,Other,NaN,"['apocalypse', 'light', 'spokane', 'wildfire']",1,0,1,1,1,1
4,11,Other,NaN,"['typhoon', 'soudelor', 'kill', 'china', 'taiwan']",1,0,1,1,1,1

In [16]:
to_submit=submitdata[['id', 'target']]
to_submit

         id  target
0     0      1
1     2      1
2     3      1
3     9      1
4     11     1
5     12     1
6     21     0
7     22     0
8     27     0
9     29     0
10    30     0
11    35     0
12    42     0
13    43     0
14    45     0
15    46     1
16    47     0
17    51     0
18    58     0
19    60     0
20    69     0
21    70     0
22    72     0
23    75     1
24    84     0
25    87     0
26    88     0
27    90     0
28    94     0
29    99     1
...   ..    ..
3233  10756  1
3234  10757  1
3235  10758  1
3236  10761  1
3237  10762  1
3238  10773  1
3239  10778  1
3240  10781  1
3241  10791  0
3242  10792  0
3243  10796  0
3244  10797  1
3245  10801  0
3246  10804  0
3247  10806  0
3248  10807  0
3249  10816  0
3250  10820  1
3251  10828  0
3252  10836  1
3253  10838  1
3254  10845  1
3255  10856  1
3256  10857  0
3257  10858  1
3258  10861  1
3259  10865  1
3260  10868  1
3261  10874  1
3262  10875  0

[3263 rows x 2 columns]

In [17]:
# Save to csv
to_submit.to_csv("MEGA_SUBMIT.csv", index=False, encoding = 'utf-8')